@import "fonts";
@import "mixins";
@import "variables";
@import "sections/burger-button";
@import "sections/_footer";
@import "sections/header";
@import "sections/main-content";
@import "sections/about-app";

body, p, ul, li, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html body {
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.fork-offers{
  max-width: 1200px;
  margin: 0 auto;
}